<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BALA music</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">




</head>
<body>
    
    {% include 'mainapp/navbar.html' %}

    <div class="container">
        {% block content %}

        {% endblock content %}

    </div>





    <script src="{% static 'mainapp/js/jquery.js' %}"></script>
    <script src="{% static 'mainapp/js/proper.js' %}"></script>
    <script src="{% static 'mainapp/js/bootstrap.js' %}"></script>

</body>
</html>