{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="card bg-dark mt-3">
      <div class="card-header">
        BALA music
      </div>
      <div class="card-body">
        <h1 class="card-title">Control Station</h1>
        <h4 class="card-text">listen computer generated music<h4p>
      </div>
    </div>


    <div class="container mt-3">

        <form action="" method="POST">
          {% csrf_token %}
          <label for="music_duration_range" class="form-label">Select music duration</label>
          <input type="range" class="form-range" min="0" max="10" step="1" id="music_duration_range" name='music_duration'>
         
         
          <div class="row">

            <div class="col">
                <input type="submit" class="btn btn-lg btn-outline-success" value="play music" name="play"></input>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-lg btn-outline-success" value="stop music" name="stop"></input>
            </div>

            <div class="col">
              <input type="submit" class="btn btn-lg btn-outline-success" value="pause music" name="pause"></input>
            </div>

            <div class="col">
              <input type="submit" class="btn btn-lg btn-outline-success" value="resume music" name="resume"></input>
            </div>
          </div>

        </form>
    </div>
  </div>
</div>







{% endblock content %}













